.c-goto-content {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;

  &:focus {
    color: $btn-color-primary;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    height: auto;
    clip: auto;
    padding: 1em;
  }
}
