.c-goto-content {
  @extend .u-sr;

  &:focus {
    color: $btn-color-primary;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    height: auto;
    clip: auto;
    padding: 1em;
  }
}
