{
  "extends": "stylelint-config-standard",
  "rules": {
    "max-empty-lines": 2,
    "number-leading-zero": "never",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "mixin",
          "include"
        ]
      }
    ]
  }
}
