@media print {
  // 1. Black prints faster: http://www.sanbeiji.com/archives/953
  *,
  *::before,
  *::after,
  p::first-letter,
  p::first-line,
  div::first-letter,
  div::first-line,
  li::first-letter,
  li::first-line,
  blockquote::first-letter,
  blockquote::first-line {
    background: transparent !important;
    color: #000 !important; // 1
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  // 1. Printing tables: http://css-discuss.incutio.com/wiki/Printing_Tables
  thead {
    display: table-header-group; // 1
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  body,
  article,
  main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .u-no-print {
    display: none !important;
  }

  .u-print-break {
    page-break-before: always;
  }

  .u-print-break-after {
    page-break-after: always;
  }
}
