// ****************************************************************************/
// Mixins
// ****************************************************************************/

// Input placeholder text color. In case you want to change the browser default.
// @include placeholder-color(#333);

// @font-face mixin. Values: @font-name, @font-path, @weight, @style.
// @include font-face(Louis, '../fonts/louisbold-webfont');

// REM font-sizes. Pixel values will be converted to REM, with pixel fallback.
// @include font-size();

/******************************************************************************/
/* Examples */
/******************************************************************************/

// default full width column
%content-block {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 58.75em; // 940px
}

.main-content {
  @extend %content-block;
}
