@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
    font-family: $font-family;
    src: url("#{$file-path}.eot");
    src: url("#{$file-path}.eot?#iefix") format('embedded-opentype'),
         url("#{$file-path}.woff2") format('woff2'),
         url("#{$file-path}.woff") format('woff'),
         url("#{$file-path}.ttf") format('truetype'),
         url("#{$file-path}.svg#${font-family}") format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin placeholder-color($text-color){
  &:-ms-input-placeholder{
    color: $text-color;
  }

  &::-moz-placeholder {
    color: $text-color;
  }

  &::-webkit-input-placeholder {
    color: $text-color;
  }
}

@mixin font-size($size) {
  $rem: $size / 16;

  font-size: $size;
  font-size: $rem / ($rem * 0 + 1) + rem;
}

/*
 * Image replacement (does not work on buttons/inputs)
 */

%ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
  }
}
