// Colors
$brand-primary:    #252128;

// Objects
$text-color:       #222;
$link-color:       $brand-primary;
$link-hover-color: darken($link-color, 10%);

$selection-bg-color: $link-color;
$selection-text-color: $text-color;

$btn-color-primary: #fff;

// Typography
$font-family-base: sans-serif;
